{% load i18n %}
{% if user.user_type == ROLE_TYPE.ADMINISTRATOR %}
    <!-- Modal -->
    <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <form class="modal-content" id="form-change-organization">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="modalCenterTitle">{% trans 'Переключиться' %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="select_organization">
                        {% translate 'Организации' %}
                    </label>
                    <select name="select_organization" id="select_organization" class="select2">
                        {% for organization in organizations %}
                            <option value="{{ organization.id }}" {% if user.organization_id == organization.id %}selected{% endif %}>{{ organization.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                        {% trans 'Отменить' %}
                    </button>
                    <button type="submit" class="btn btn-primary">{% trans 'Сохранить' %}</button>
                </div>
            </form>
        </div>
    </div>
{% endif %}